{% include header.html %}
    <h1 id = 'create-account'> Create an Account </h1>
    <article class ="full-width">
  <form method = 'POST' id = "create-profile">

      <!-- <input type = 'text' placeholder = 'username' id = 'textField_username' name = 'username'> -->
      <label>Username</label>
      <input type = 'text' placeholder = 'Username' id = 'textfield_uname' name = 'username' required >

      <label>Password</label>
      <input type = 'password' placeholder = 'Password' id = 'textfield_password' name= 'password' required >

      <label>Confirm Password</label>
      <input type = 'password' placeholder = 'Confirm Password' id = 'textfield_password' name= 'passwordconf' required >

      <label>First Name</label>
      <input type = 'text' placeholder = 'First Name' id = 'textField_fname' name = 'fname' required >

      <label>Last Name</label>
      <input type = 'text' placeholder = 'Last Name' id = 'textField_lname' name = 'lname' required >

      <label>Date of Birth</label>
      <input type = 'date' placeholder = 'Date of Birth' id = 'textField_birthdate' name = 'birthdate' required >

      <label>Phone Number</label>
      <input type = 'text' placeholder = 'Mobile Number' id = 'textField_phone' name = 'phone' required >

      <label>Email</label>
      <input type = 'email' placeholder = 'Email' id = 'textField_email' name = 'email' required >

      <label>City</label>
      <input type = 'text' placeholder = 'City' id = 'textField_city' name = 'city' required >

      <label>Bio</label>
      <textarea placeholder = 'Bio' id = 'textField_bio' name = 'bio' required  ></textarea>

      <!-- for rows and columns, rows = n and cols = n -->

      <label>Education</label>
      <textarea placeholder = 'Education' id = 'textField_education' name = 'education' required ></textarea>

      <label>Hobbies</label>
      <textarea placeholder = 'Hobbies/Interests' id = 'textField_hobbies' name = 'hobbies' required ></textarea>

      <label>Skills</label>
      <textarea placeholder = 'Skills' id = 'textField_skills' name = 'skills' required ></textarea>

      <input type = 'submit' value="Create Account">



  </form>
</article>
{% include footer.html %}
