{% include header.html %}

        <img id="indeximage" src="static\indeximage.jpg">

      <article id= "intro-text">
        <h2>Welcome</h2> <p>to our snazzy web app, where we have reviews about work experience and internship experiences.  We will let you find the perfect placement for you to extend your knowledge and gain the experience you need to give you a headstart in the industry. Just click on a search option below to begin your journey with us!</p>
      </article>
      <hr>
      <div id="searchdiv" class = "navigation-box">
        <h1 class="navigation-link"><a href="/position/">Search</a></h1>
      </div>
      <div id="assistantdiv" onloadedmetadata=" " class = "navigation-box">
          <h1 class="navigation-link"><a href="/assistant">Assistant</a></h1>
      </div>
      <div id="mapdiv"class = "navigation-box">
          <h1 class="navigation-link"><a href="/map/">Map</a></h1>
      </div>
      <hr>
      <article class="full-width">
        <p>Lorem ipsum dolor amet beard hot chicken drinking vinegar photo booth. You probably haven't heard of them mumblecore jianbing small batch hell of umami vice, schlitz chambray single-origin coffee echo park. Pinterest keytar distillery cloud bread kombucha squid. Hot chicken irony cloud bread, biodiesel tumeric umami cold-pressed. Etsy bushwick taxidermy woke chartreuse.</p>

        <p>Hammock normcore sriracha, subway tile schlitz ennui hot chicken edison bulb af. Semiotics franzen drinking vinegar, flannel keffiyeh fanny pack shaman tilde. Scenester meh iPhone neutra pinterest woke. Flannel cronut raclette, fixie echo park whatever hot chicken man braid letterpress dreamcatcher single-origin coffee typewriter kickstarter kogi locavore.</p>
      </article>
{% include footer.html %}
