{% include header.html%}

<script>

function submitForm() {
  var newUrl = window.location.origin + '/searchresult/' + searchbar.value + '/' + typeschoice.value + '/';
  window.location.replace(newUrl);
}

</script>

     <input id="searchbar" type="text" size="40" name="field_name" placeholder="Search">
       <select id="typeschoice" name="type">
          <option value="alltypes" selected>all types</option>
          <option value="internship">Internship</option>
          <option value="apprenticeships">Apprenticeships</option>
          <option value="workexperience">Work experience</option>
      </select>
      <button id="searchbutton" name="searchbutton">Search</button>
     {% for item in position %}
     <img id="positionimage" src="/static/computer.jpg">
     <article class="right-two">
       <h2><a href="/position/{{item.id}}/">{{item.positionname}}</a> </h2>
       <h3>{{item.positiontype}} at {{item.companyname}}</h3>
       <p>{{item.blurb[:100]}}...</p>
     </article>
     <hr>
     {% end for %}
   </main>
   <footer>
    <h5>footer</h5>
   </footer>

   <script>
   searchbutton.onclick = submitForm;
   </script>
    </body>
   </html>

{% include footer.html %}
