{% include header.html %}
		 <h1 class="full-width">{{position.positionname}}</h1>
		 <img class="left-two" id="positionimage" src="/static/computer.jpg">
		 <article class="right-one">
 		 <h2>{{position.companyname}}</h2>
 		 <h3>Term: {{position.positionlength}}</h3>
		 <h3>{{position.positiontype}}</h3>
		 <h3>{{position.address}}</h3>
		 <a href = "{{position.companyurl}}">Link to Apply</a>
 	</article>
	<hr>
	<article class="full-width" id="positionblurb">
		<p>{{position.blurb}}</p>
	</article>
	<hr>
	<!-- review section start here -->
	<article class = "full-width">
	<h2>Reviews </h2>
</article>
<hr>
{% for section in review %}
	{% if section.position_id == position.id %}
<article class="full-width">
	<h3>{{user[section.person_id].fname + " " + user[section.person_id].lname}}</h3>
	<p class="reviews">{{section.content}}</p>
  </article>
	{% end if %}
	{% end for %}

</main>
<footer>
	<h5>footer</h5>
</footer>
	</body>
</html>
