{% include header.html%}

     <input id="searchbar" type="text" size="40" name="field_name" placeholder="Search">
       <select id="typeschoice" name="type">
          <option value="alltypes" selected>all types</option>
          <option value="internship">Internship</option>
          <option value="apprenticeships">Apprenticeships</option>
          <option value="workexperience">Work experience</option>
      </select>
      <button id="searchbutton" name="searchbutton">Search</button>
     <!--{#{% for item in positions %}#}-->
     <img id="positionimage" src="static/computer.jpg">
     <article class="right-two">
       <h2><a href="/position/{{position.id}}">{{position.positionname}}</a> </h2>
       <h3>{{position.positiontype}} at {{position.companyname}}</h3>
       <p>{{position.blurb[:100]}}...</p>
     </article>
     <hr>
     <!--{#{% end for %}#}-->
{% include footer.html %}
