{% include header.html %}
    <article class="full-width">
      <h1>H1 header</h1>
      <h2>h2 header</h2>
      <h3>H3 header</h3>
    </article>
    <hr>
      <article class="full-width">
        <ul>
          <li>Work Experience</li>
          <li>random</li>
          <li>Random23232</li>
          </ul>
        <ol>
          <li>Work Experience</li>
          <li>random</li>
          <li>Random23232</li>
        </ol>
      </article>
    <hr>
    <article class="full-width">
      <p>Lorem ipsum dolor amet roof party ugh put a bird on it, bushwick kinfolk brunch craft beer microdosing forage fingerstache williamsburg fam deep v. Chia sustainable umami banh mi hot chicken fam. Pork belly copper mug occupy kombucha ethical salvia. Next level umami chicharrones single-origin coffee readymade butcher, unicorn small batch taxidermy four dollar toast ennui scenester fam. Freegan godard thundercats VHS roof party polaroid letterpress pok pok. Wolf crucifix retro meditation, DIY everyday carry humblebrag letterpress ramps stumptown.</p>

      <p>Craft beer shaman small batch la croix hexagon. Ramps migas kitsch jianbing. Organic cronut lyft vice, yr pok pok activated charcoal drinking vinegar 3 wolf moon shoreditch kale chips you probably haven't heard of them. Enamel pin af craft beer sartorial cronut, cardigan poutine synth. Kogi authentic shoreditch pug, lyft direct trade messenger bag knausgaard selfies single-origin coffee adaptogen. Mustache hoodie readymade, iceland keffiyeh subway tile edison bulb slow-carb.</p>
    </article>
{% include footer.html %}
