html{
  align-self: center;
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.right-two{
  grid-column: 2 / span 2;
  padding: 30px;
}
#profile-picture{
  height: 150px;
  width: 150px;
  padding-top: 50px;
  padding-left: 30px;
}
article{
  grid-column: 1 / span 3;
}
