@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:300,400');

html{
  align-self: center;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a, a:link {
  color: RGB(198,156,109);
}
a:active {
  color: RGB(160,82,45);
}

header {
  background-color: RGB(51,51,51);
  color: RGB(153,153,153);
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 0;
  border-bottom: 5px solid RGB(198,156,109);
}

h1{
  color: RGB(198,156,109);
  font-weight: 300;
  font-size: 50px;
  font-family: 'Source Sans Pro';
  margin: 20px 0 20px 0;
}

h2{
  color: RGB(140,98,56);
  font-weight: 300;
  font-size: 30px;
  font-family: 'Source Sans Pro';
  margin: 20px 0;
}

h3{
  font-weight: 200;
  font-size: 20px;
  font-family: 'Source Sans Pro';
  color: RGB(149,149,149);

}

h4{

}

article{
  background-color: RGB(255,255,255);
  padding: 20px ;
}

ul{
  list-style: square;
  padding-left: 20px;
}

ol{
  padding-left: 20px;
}

hr{
  border-color: RGB(198,156,109);
  grid-column: 1 / span 3;
  margin: 28px 0 28px 0;
}


main {
    background-color: RGB(230,230,230);
    width: 60%;
    margin: 0 auto;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer {
  background-color: RGB(51,51,51);
  padding: 10px;
  color: RGB(153,153,153);
  text-align:center;
}

footer>h4{
  width: 60%;
  margin: 0 auto;
  padding: 0 20px;
  display: inline;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Source Sans Pro';
}

header>nav>ul{
  list-style: none;
  color: RGB(198,156,109)
}

header>nav>ul>li{
  display: inline-block;
}

.logo{
  color: RGB(153,153,153);
  font-size: 24px;
}


nav{
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

}
.full-width{
  grid-column: 1 / span 3;
}

li{
  margin: 10px;

}


.logins{
  text-align: right;
}
/*profile page styling*/
.right-two{
  grid-column: 2 / span 2;
  padding: 30px;
}
#profile{
  display: grid;

}
#profile-picture{
  height: 200px;
  width: 200px;
  align-self: center;
  justify-self: center;
}
article{
  grid-column: 1 / span 3;
}
/*index page styling*/
#indeximage{
  grid-column: 1 / span 2;
  height: 100%;
  object-fit: cover;
}
#intro-text{
  padding: 30px;
}

.navigation-box{
  border: 5px solid white;
  text-align: center;
  height: 300px;
  margin: 2px;
  margin-top: 20px;
  padding: auto;
  display: grid;

}
.navigation-link{
  padding: auto;
  justify-self: center;
  align-self: center;
}
.navigation-link > a{
  font-weight: 400;
  color: RGB(140,98,56);
  text-decoration: none;
}

#searchdiv{
  background-image: url("searchimage.jpg");
}
#assistantdiv{
  background-image: url("assistantimage.jpg");
}
#mapdiv{
  background-image: url("mapimage.jpg");
}
